* {
    border: 2px solid red;
  }

/* Style for the parent container */
.image-container {
    display: flex; /* Use flexbox to arrange items side by side */
    align-items: center; /* Vertically center items */
}

/* Style for the image */
.image-container img {
    max-width: 100%; /* Ensure the image does not exceed its container's width */
    height: auto; /* Maintain the image's aspect ratio */
    margin-right: 20px; /* Add spacing between image and content */
}

/* Style for the content (text and company statement) */
.content {
    flex: 1; /* Allow content to grow and take available space */
}

/* Style for the text overlay */
.text-overlay {
    color: rgb(10, 45, 243);
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    
}

/* Style for the company statement */
#company-statement {
    font-size: 18px; /* Adjust font size as needed */
}

label {
    display: inline-block;
    width: 120px; /* Adjust the width to your preference */
    margin-right: 10px; /* Add some spacing between label and input */
    text-align: right; /* Align label text to the right */
}

input {
    display: inline-block;
    width: 200px; /* Adjust the width to your preference */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    background-color: aqua;
    width: 100px;
    height: 50px;
}
